#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #821818;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 16px #821818;

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            padding: 0 20px;
            position: relative;

            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                color: #1a1a1a;
                transition: 0.3s ease;

                &:hover,
                &.active {
                    color: #fff;

                    &::after {
                        content: "";
                        width: 30%;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        bottom: -4px;
                        left: 20px;
                    }
                }

                i {
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }
    }

    #mobile {
        display: none;
        align-items: center;
    }

    #close {
        display: none;
    }
}
