/* Header */
#header {
    /* Navegador */
    #nav-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0 0 16px #821818;
        background: #821818;
        position: fixed;
        left: 0;
        z-index: 100;

        /* Logo */
        .logo {
            margin: 8px 0;
        }

        /* Lista de enlaces */
        li {
            list-style: none;
            display: inline-block;
            padding: 0 10px;

            /* Enlaces */
            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                transition: 0.3s;

                &:hover,
                &.active {
                    font-size: 18px;
                    text-shadow: 0px 1px 4px;
                }
            }
            /* Icono de carrito */
            #cart-ico {
                margin-left: 5px;
                font-size: 24px;

                &:hover,
                &.active {
                    font-size: 28px;
                }
            }
        }
    }
}
