/* Hero */
#hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    background-image: url("../images/update/hero.png");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #821818;
}

#hero button {
    background-image: url("../images/update/button.png");
    background-color: transparent;
    color: #fff;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* Características */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .fe-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        border-radius: 18px;
        border: 1px solid #82181831;
        box-shadow: 15px 15px 20px #8218185b;
        transition: 0.3s ease;
        margin: 15px 0;

        &:hover {
            box-shadow: 10px 10px 54px #0301011e;
        }

        img {
            width: 100%;
            margin-bottom: 10px;
        }

        h6 {
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #fff;
            background-color: #8218188a;
        }
    }
}

/* Productos */
#product1 {
    text-align: center;

    .pro-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
    }

    .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #82181831;
        border-radius: 25px;
        transition: 0.2s;
        position: relative;
        cursor: pointer;
        box-shadow: 15px 15px 20px #82181817;
        margin: 15px 0;

        &:hover {
            box-shadow: 10px 10px 54px #0301011e;

            .des h5 {
                color: #821818d8;
            }
        }

        img {
            width: 100%;
            border-radius: 20px;
        }

        .des {
            text-align: start;
            padding: 10px 0;

            span {
                color: #222;
                font-size: 12px;
            }

            h5 {
                padding-top: 7px;
                color: #222;
                font-size: 14px;
                transition: 0.2s;
            }

            i {
                color: rgb(240, 177, 18);
                font-size: 12px;
            }

            h4 {
                padding-top: 7px;
                font-size: 15px;
                font-weight: 700;
                color: #222;
            }
        }
        .cart {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: #8218180e;
            font-weight: 500;
            color: #821818c9;
            border: 1px solid #821818c9;
            transition: 0.2s;
            position: absolute;
            bottom: 20px;
            right: 10px;

            &:hover {
                color: #fff;
                background: #821818c9;
                font-weight: 400;
            }
        }
    }
}

/* Banner */
#banner {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h4 {
        color: #fff;
        font-size: 16px;
    }

    h2 {
        color: #fff;
        font-size: 30px;
        padding: 10px 0;

        span {
            color: #821818;
        }
    }

    button:hover {
        background: #821818c9;
        color: #fff;
    }
}

/* Boletín */
#newsletter {
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    h4 {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }

    p {
        font-size: 14px;
        font-weight: 600;
        color: #fff;

        span {
            color: #821818;
        }
    }

    .form {
        display: flex;
        width: 40%;

        input {
            height: 3.125rem;
            padding: 0 1.25rem;
            font-size: 14px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            outline: none;
        }

        button {
            background-color: #821818c9;
            color: #fff;
            white-space: nowrap;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}
