/* Importar la fuente Lato (Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* Configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* Al hacer click en un enlace interno, hay una transición de movimiento suave */
html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

/* TODO: cambiar nombre a la clase */
/* Botón de banner */
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #222;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* WARNING: no se usa */
button.white {
    background: transparent;
    padding: 11px 18px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.1s ease;
}

/* Sección con padding añadido */
.section-p1 {
    padding: 40px 80px;
}

/* Sección con margin añadido */
.section-m1 {
    margin: 40px 0;
}

/* Cuerpo */
body {
    width: 100%;

    /* Barra de desplazamiento */
    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Riel de desplazamiento (fondo) */
    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
    }

    /* Manija de desplazamiento */
    &::-webkit-scrollbar-thumb {
        background-color: #821818;
    }
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #821818;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 16px #821818;

    /* Barra de navegación */
    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            padding: 0 20px;
            position: relative;

            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                color: #222;
                transition: 0.3s ease;

                &:hover,
                &.active {
                    color: #fff;

                    &::after {
                        content: "";
                        width: 30%;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        bottom: -4px;
                        left: 20px;
                    }
                }

                i {
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }
    }
}

/* Carrito (ventana modal) */
#modalCart {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

    /* Contenedor de la ventana del modal */
    .cart-wrapper {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        height: 650px;
        margin: auto;
        overflow-y: auto;
        scrollbar-width: thin; // Barra de scroll fina (Firefox)

        // Scroll (Chrome y Safari)
        /* Barra de desplazamiento */
        &::-webkit-scrollbar {
            width: 4px;
        }

        /* Riel de desplazamiento (fondo) */
        &::-webkit-scrollbar-track {
            background-color: #f5f5f5;
        }

        /* Manija de desplazamiento */
        &::-webkit-scrollbar-thumb {
            background-color: #821818;
        }

        /* Contenedor del contenido principal del modal (productos) */
        .cart-container {
            #empty-cart-label {
                font-size: 20px;
                font-weight: 700;
                color: #999;
                margin: 30px 0;
            }
            /* Contenedor de producto individual */
            .cart {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                background-color: #fff;
                border-bottom: 1px solid #ddd;
                padding: 20px;
                width: 800px;

                /* Imagen del producto */
                img {
                    max-width: 120px;
                    margin-right: 20px;
                }

                /* Descripción del producto */
                .des {
                    display: flex;
                    flex-direction: column;
                    font-size: 16px;
                    line-height: 1.5;
                    width: 80%; /* Agregar una anchura fija */

                    /* Título */
                    h3 {
                        font-size: 24px;
                        margin-bottom: 5px;
                    }
                    /* Precio */
                    h4 {
                        font-size: 20px;
                        color: #821818;
                        margin-top: 10px;
                    }
                    /* Autor */
                    h5 {
                        font-size: 18px;
                        color: #444;
                        margin-bottom: 5px;
                    }
                    /* Categoría */
                    span {
                        font-size: 16px;
                        color: #888;
                    }
                }
            }
        }

        /* Contenedor del footer del carrito (vaciar, comprar, cerrar, precio total) */
        .cart-actions {
            position: sticky;
            bottom: 0;
            font-size: 300px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            /* Botón de vaciar carrito */
            .clear-cart {
                background-color: #fff;
                border: 1px solid #ddd;
                color: #444;
                padding: 10px 20px;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 14px;
                cursor: pointer;
                margin-right: 10px;
                transition: 0.2s;

                &:hover {
                    color: #fff;
                    background-color: #222;
                }
            }

            /* Botón de comprar */
            .buy-cart {
                background-color: #821818;
                border: 1px solid #ddd;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 14px;
                cursor: pointer;
                margin-right: 10px;
                transition: 0.2s;

                &:hover {
                    background-color: #222;
                }
            }

            /* Botón de cerrar carrito */
            .close-cart {
                background-color: #000;
                border: 1px solid #ddd;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 14px;
                cursor: pointer;
                margin-right: 10px;
                transition: 0.2s;

                &:hover {
                    color: #000;
                    background-color: #fff;
                }
            }

            /* Etiqueta de precio total */
            .total-price {
                font-size: 20px;
                color: #821818;
                font-weight: bold;
            }
        }
    }
}

/* Botón de carrito (header) */
#lg-bag {
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

/* Etiqueta de cantidad de productos (header) */
#cart-quantity {
    font-style: normal;
    position: absolute;
    top: 5px;
    left: 40px;
    color: #222;
    font-size: 18px;
}

/* Etiqueta para móviles (ocultar por defecto) */
#mobile {
    display: none;
    align-items: center;
}

/* Botón de cerrar para móviles (ocultar por defecto) */
#close {
    display: none;
}

/* Index */
/* Hero */
#hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    background-image: url("../images/update/hero.png");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;

    h4 {
        padding-bottom: 15px;
    }

    h1 {
        color: #821818;
    }

    button {
        background-image: url("../images/update/button.png");
        background-color: transparent;
        color: #fff;
        border: 0;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
    }
}

/* Características */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    /* Contenedor de característica individual */
    .fe-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        border-radius: 18px;
        border: 1px solid #82181831;
        box-shadow: 15px 15px 20px #8218185b;
        transition: 0.3s ease;
        margin: 15px 0;

        &:hover {
            box-shadow: 10px 10px 54px #0301011e;
        }

        img {
            width: 100%;
            margin-bottom: 10px;
        }

        h6 {
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #fff;
            background-color: #8218188a;
        }
    }
}

// TODO: Cambiar estilo de los productos en la tienda
/* Productos */
#product1 {
    text-align: center;

    /* Contenedor de productos interno */
    .pro-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
    }

    /* Contenedor de producto individual */
    .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #82181831;
        border-radius: 25px;
        transition: 0.2s;
        position: relative;
        box-shadow: 15px 15px 20px #82181817;
        margin: 15px 0;

        &:hover {
            box-shadow: 10px 10px 54px #0301011e;

            .des h5 {
                color: #821818d8;
            }
        }

        img {
            width: 100%;
            border-radius: 20px;
            cursor: pointer;
        }

        /* Contenedor de información del producto y botón de añadir al carrito */
        .des {
            text-align: start;
            padding: 10px 0;

            span {
                color: #222;
                font-size: 12px;
            }

            h5 {
                padding-top: 7px;
                color: #222;
                font-size: 14px;
                transition: 0.2s;
            }

            h4 {
                padding-top: 7px;
                font-size: 15px;
                font-weight: 700;
                color: #222;
            }

            h3 {
                font-size: 16px;
                color: #222;
            }
        }

        .cart {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: #8218180e;
            font-weight: 500;
            color: #821818c9;
            border: 1px solid #821818c9;
            transition: 0.2s;
            position: absolute;
            bottom: 20px;
            right: 10px;

            &:hover {
                color: #fff;
                background: #821818c9;
                font-weight: 400;
            }
        }
    }
}

/* Botón de eliminar producto (carrito) */
.remove-from-cart-button {
    background-color: #821818c9;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #e74c3c;
    }
}

/* Banner */
#banner {
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-position: center;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h4 {
        color: #fff;
        font-size: 16px;
    }

    h2 {
        color: #fff;
        font-size: 30px;
        padding: 10px 0;

        span {
            color: #821818;
        }
    }

    button:hover {
        background: #821818c9;
        color: #fff;
    }
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* Columnas */
    .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        /* Primera columna (logo) */
        &:first-child {
            align-items: center;
            justify-content: center;
        }
    }

    /* Logo de la tienda */
    .logo {
        margin: 0 auto;
        border-radius: 50%;
    }

    h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }

    p {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    a {
        font-size: 13px;
        text-decoration: none;
        margin-bottom: 10px;
        color: #222;
    }

    /* Contenedor de redes sociales */
    .follow {
        margin-top: 20px;

        i {
            color: #222;
            padding-right: 4px;
            cursor: pointer;
        }
    }

    .follow i:hover,
    a:hover {
        color: #821818c9;
    }

    /* Contenedor de Copyright */
    .copyright {
        width: 100%;
        text-align: center;
    }
}

/* Tienda */
/* Cabecera de la tienda */
#page-header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../images/update/banner/b1.png");
    background-size: cover;
    padding: 14px;

    p {
        font-size: 20px;
        color: #fff;
    }

    h2 {
        color: #fff;
    }
}

/* Sobre nosotros */
#about-us {
    p:not(:last-child) { // Se aplica a todos los "p" menos al último
        margin-bottom: 50px;
    }
}

// RESPONSIVE

/* Responsive */
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #8218185b;
        box-shadow: 0 15px 12px #8218185b;
        transition: 0.3s;
        padding: 80px 0 0 10px;

        li {
            margin-bottom: 25px;
        }

        &.active {
            right: 0;
        }
    }

    #mobile {
        display: flex;

        i {
            color: #1a1a1a;
            font-size: 24px;
            padding-left: 20px;
        }
    }

    #bar {
        display: initial;
    }
    #close {
        display: initial;
        font-size: 24px;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
    }
    #lg-bag,
    #lg-search {
        display: none;
    }
    #hero {
        padding: 0 80px;
        height: 70vh;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;

        .fe-box {
            margin: 15px;
        }
    }

    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    header {
        padding: 10px 30px;
    }
    #hero {
        padding: 0 20px;
        height: 70vh;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;

        .fe-box {
            width: 155px;
            margin: 0 0 15px 0;
        }
    }

    #product1 .pro {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }
}
