@charset "UTF-8";
/* Hero */
/* line 2, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
  background-image: url("../images/update/hero.png");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: top 25% right 0;
}

/* line 15, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#hero h4 {
  padding-bottom: 15px;
}

/* line 19, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#hero h1 {
  color: #821818;
}

/* line 23, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#hero button {
  background-image: url("../images/update/button.png");
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* Características */
/* line 36, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 42, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  border-radius: 18px;
  border: 1px solid #82181831;
  box-shadow: 15px 15px 20px #8218185b;
  transition: 0.3s ease;
  margin: 15px 0;
}

/* line 52, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px #0301011e;
}

/* line 56, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

/* line 61, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  background-color: #8218188a;
}

/* Productos */
/* line 73, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 {
  text-align: center;
}

/* line 76, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

/* line 83, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #82181831;
  border-radius: 25px;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
  box-shadow: 15px 15px 20px #82181817;
  margin: 15px 0;
}

/* line 95, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro:hover {
  box-shadow: 10px 10px 54px #0301011e;
}

/* line 98, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro:hover .des h5 {
  color: #821818d8;
}

/* line 103, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

/* line 108, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

/* line 112, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro .des span {
  color: #222;
  font-size: 12px;
}

/* line 117, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #222;
  font-size: 14px;
  transition: 0.2s;
}

/* line 124, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro .des i {
  color: #f0b112;
  font-size: 12px;
}

/* line 129, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #222;
}

/* line 136, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #8218180e;
  font-weight: 500;
  color: #821818c9;
  border: 1px solid #821818c9;
  transition: 0.2s;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* line 150, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#product1 .pro .cart:hover {
  color: #fff;
  background: #821818c9;
  font-weight: 400;
}

/* Banner */
/* line 160, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#banner {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* line 172, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#banner h4 {
  color: #fff;
  font-size: 16px;
}

/* line 177, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

/* line 182, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#banner h2 span {
  color: #821818;
}

/* line 187, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#banner button:hover {
  background: #821818c9;
  color: #fff;
}

/* Boletín */
/* line 194, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#newsletter {
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 203, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

/* line 209, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

/* line 214, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#newsletter p span {
  color: #821818;
}

/* line 219, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#newsletter .form {
  display: flex;
  width: 40%;
}

/* line 223, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#newsletter .form input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
}

/* line 235, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
#newsletter .form button {
  background-color: #821818c9;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Logo (footer) */
/* line 246, C:/xampp/htdocs/Proyectos/Web/styles/scss/index.scss */
.section-p1 .logo {
  border-radius: 50%;
}

/*# sourceMappingURL=index.css.map */