/* line 1, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
#mobile {
  display: none;
  align-items: center;
}

/* line 6, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
#close {
  display: none;
}

/* Start Media Query */
@media (max-width: 799px) {
  /* line 12, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  .section-p1 {
    padding: 40px;
  }
  /* line 15, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #f0f3e3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 80px 0 0 10px;
  }
  /* line 30, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #navbar li {
    margin-bottom: 25px;
  }
  /* line 33, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #navbar.active {
    right: 0;
  }
  /* line 36, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #mobile {
    display: flex;
  }
  /* line 39, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  /* line 44, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #bar {
    display: initial;
  }
  /* line 47, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #close {
    display: initial;
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
  }
  /* line 55, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #lg-bag,
  #lg-search {
    display: none;
  }
  /* line 59, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #hero {
    padding: 0 80px;
    height: 70vh;
    background-position: top 30% right 30%;
  }
  /* line 64, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #feature {
    justify-content: center;
  }
  /* line 67, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #feature .fe-box {
    margin: 15px;
  }
  /* line 70, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #product1 .pro-container {
    justify-content: center;
  }
  /* line 73, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #product1 .pro {
    margin: 15px;
  }
  /* line 76, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #banner {
    height: 20vh;
  }
  /* line 79, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    padding: 30px;
  }
  /* line 84, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
  }
  /* line 90, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #banner3 .banner-box {
    width: 28%;
  }
  /* line 93, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #newsletter .form {
    width: 70%;
  }
  /* Contact Page */
  /* line 97, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #form-details {
    padding: 40px;
  }
  /* line 100, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #form-details form {
    width: 50%;
  }
}

@media (max-width: 477px) {
  /* line 106, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  .section-p1 {
    padding: 20px;
  }
  /* line 109, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  h1 {
    font-size: 38px;
  }
  /* line 112, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  h2 {
    font-size: 32px;
  }
  /* line 115, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #header {
    padding: 10px 30px;
  }
  /* line 118, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #hero {
    padding: 0 20px;
    height: 70vh;
    background-position: 55%;
  }
  /* line 123, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #feature {
    justify-content: space-between;
  }
  /* line 126, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  /* line 130, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #product1 .pro {
    width: 100%;
  }
  /* line 133, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #banner {
    height: 40vh;
  }
  /* line 136, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #sm-banner .banner-box {
    height: 40vh;
  }
  /* line 139, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #sm-banner .banner-box {
    margin-top: 20px;
  }
  /* line 142, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #banner3 {
    padding: 0 20px;
  }
  /* line 145, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #banner3 .banner-box {
    width: 100%;
  }
  /* line 148, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #newsletter {
    padding: 40px 20px;
  }
  /* line 151, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #newsletter .form {
    width: 100%;
  }
  /* line 154, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  footer .copyright {
    text-align: start;
  }
  /* Blog Page */
  /* line 158, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #blog {
    padding: 100px 20px 20px 20px;
  }
  /* line 161, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #blog .blog-box {
    flex-direction: column;
    align-items: flex-start;
  }
  /* line 165, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  /* line 170, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #blog .blog-details {
    width: 100%;
  }
  /* line 173, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #about-app .video {
    width: 100%;
  }
  /* About Page */
  /* line 177, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #about-head {
    flex-direction: column;
  }
  /* line 180, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #about-head img {
    width: 100%;
  }
  /* line 183, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #about-head div {
    padding-top: 20px;
    padding-left: 0px;
  }
  /* Contact Page */
  /* line 188, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #contact-details .details {
    width: 100%;
    padding-bottom: 30px;
  }
  /* line 192, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #contact-details .map {
    width: 100%;
  }
  /* line 195, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #contact-details {
    flex-wrap: wrap;
  }
  /* line 198, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  /* line 203, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #form-details form {
    width: 100%;
    padding-bottom: 30px;
  }
  /* Cart Page */
  /* line 208, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #cart-add {
    flex-direction: column;
  }
  /* line 211, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #cuopon,
  #subtotal {
    width: 100%;
  }
  /* line 215, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #subtotal {
    padding: 20px;
  }
  /* SIngle Product */
  /* line 219, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #prodetails {
    flex-direction: column;
  }
  /* line 222, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  /* line 226, C:/xampp/htdocs/Proyectos/Web/styles/scss/responsive.scss */
  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 30px;
  }
}

/*# sourceMappingURL=responsive.css.map */